<!DOCTYPE html>
<html lang="en">
<head>
  <title>THIRSTY SCHOLAR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
	  background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>THIRSTY SCHOLAR</h1>      
    <p>get gain give</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><img src={{ url_for('static',filename='logo.jpeg') }}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{{ url_for('search') }}">Search</a></li>
        <li><a href="{{ url_for('upload') }}">Upload</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
	<ul class="nav navbar-nav navbar-right">
	  {% if session['name'] %}
<a href="{{ url_for('clearsession') }}"><span class="glyphicon glyphicon-dashboard"></span> User:<strong>{{session['name']}}</strong>.<br/></a>
			<a href="{{ url_for('clearsession') }}"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
            {% else %}
            <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-dashboard"></span> Your Account</a></li>
			<li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span>Register</a></li>
      
		{% endif %}  
      </ul>
    
     </div>
  </div>
</nav>


<footer class="container-fluid text-center">
  
  <form class="form-inline" method="post" enctype="multipart/form-data"	 >
	<p>Give the File</p>
    
   
  </form>
  <form action={{ url_for('give') }} method="post" id="upload-form"  enctype="multipart/form-data">
    <center><input type="file" name="imagefile" id="imagefile"/></center>
    <button type="submit" class="glyphicon glyphicon-upload btn btn-danger">Give</button>
</form>
</footer>

</body>
</html>
